doctype html
html(lang="en")
	head
		title Finding a game | Rectangled
		script(src='/jquery.js')
		script(src='/game.js')
		script(src='/find.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='/styles.css')
	body
		h1 Rectangled

		p 
			span(id='status') Finding a game for
				span(id='username')  #{params.username}
				on
				span(id='difficulty')  #{params.difficulty}

		div(id='board',class='hidden')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t rt-resource-grid-tile-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l rt-resource-grid-tile-exit-l')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-l rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
			div(class='rt-board-col')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-t')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-exit-r')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile')
				div(class='rt-resource-grid-tile rt-resource-grid-tile-b')
